body {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 800;
}

iframe {
  padding: 0.5rem;
  width: 80%;
  height: 400px;
  margin-top: 4rem;
}

textarea {
  resize: none;
  border: 1px solid grey;
  width: 80%;
}

.root {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.result-div {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
