body {
  margin: 0;
  padding: 0;
}

iframe {
  padding: 0.5rem;
  width: 40%;
  height: 50vh;
}

textarea {
  resize: none;
  border: 1px solid grey;
  width: 80%;
}

.root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
