input {
  margin: 0.5rem 0;
  width: 80%;
  height: 30px;
}

select {
  margin: 0.5rem 0;
  width: 80.9%;
  height: 38px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
